/AngryProfessor.class
/BonAppetit.class
/CatsAndAMouse.class
/DiagonalDifference.class
/Encryption.class
/ExtraLongFactorials.class
/Staircase.class
/BitwiseAnd.class
/Solution.class
/ConsecutiveOnes.class
/LeftRotate.class
/CaesarCipher.class
/NestedLogic.class
